@import "./base.css";

#app {
    margin: 0 30px;
    padding: 1rem;

    min-height: 100vh;

    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-weight: normal;
}
